* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #111111;
}

#app-root {
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 100vh;   
}

.app-canvas__container {
    position: relative;
}

.app-canvas__container canvas {
    position: absolute; 
    top: 0;
    left: 0;
}

.app-ui__container {
    font-family: monospace;
    color: white;
    display: flex;
    flex-direction: column;
    background: #141414;
}

.app-ui__container-inner {
    background: #00000042;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #34333361;
    height: 100%;
    box-shadow: 0px 1px 20px 1px #0000007d;
}* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #111111;
}

#app-root {
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 100vh;   
}

.app-canvas__container {
    position: relative;
}

.app-canvas__container canvas {
    position: absolute; 
    top: 0;
    left: 0;
}

.app-ui__container {
    font-family: monospace;
    color: white;
    display: flex;
    flex-direction: column;
    background: #1d1d1d;
}

.app-ui__container-inner {
    background: #00000091;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #222222;
    height: 100%;
    box-shadow: 0px 1px 20px 1px #0000007d;
}

.app-ui__container label,
.app-ui__container input[type="checkbox"] {
    cursor: pointer;
}

.app-ui__container label:hover {
    background: #ffffff0f;
}

.app-ui__container label:active {
    background: #00000063;
}

.app-ui__title {
    border-bottom: 1px solid #222222;
    padding-bottom: 10px;
    padding-left: 5px;
    margin-bottom: 10px;
}

.app-ui__item {
    padding: 5px 10px;
    border-radius: 5px;
    position: relative;
    float: left;
    background: none;
    transition: 0.3s ease-out;
}

.app-ui__item span {
    font-style: italic;
}